@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');

:root {
  --primary-color: rgb(82, 82, 82);
  --primary-color-darker: rgb(31, 59, 65);
  --faixaNormal: rgb(0, 255, 98);
  --faixaMedia: rgb(255, 210, 10);
  --faixaAlerta: rgb(255, 7, 48);

}

* {
  box-sizing: border-box;
  outline: 0;
}

body {
  margin: 0;
  padding: 0;
  background: var(--primary-color);
  font-family: 'Open sans', sans-serif;
  font-size: 1.3em;
  line-height: 1.5em;
}

.grid {
  display: grid;
  align-items: center;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    'legend content';
}

.grid div:nth-child(1) {
  display: flex;
  grid-area: legend;
  padding-left: 25%;
}

.grid div:nth-child(2) {
  display: flex;
  grid-area: content;
  padding-right: 25%;
  ;
}

.container {
  width: 550px;
  height: 505px;
  margin: 50px auto;
  background: #fff;
  padding: 20px;
  border-radius: 10px;
}

.table {
  width: 550px;
  margin: 50px auto;
  background: #fff;
  padding: 20px;
  border-radius: 10px;
}

.input,
.label,
.button {
  display: block;
  width: 100%;
  margin-bottom: 10px;
}

.input {
  font-size: 24px;
  height: 50px;
  padding: 0 20px;
}

.input:focus {
  outline: 1px solid var(--primary-color);
}

.button {
  border: none;
  background: var(--primary-color);
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  height: 50px;
  cursor: pointer;
  margin-top: 30px;
  border-radius: 10px;
}

.button:hover {
  background: var(--primary-color-darker);
}

.paragrafo-resultado,
.bad,
.faixaAlerta,
.faixaMedia,
.faixaNormal {
  padding: 10px 20px;
}

.bad {
  background: var(--faixaAlerta);
}

::placeholder {
  font-size: 18px;
}

.faixaNormal {
  background: var(--faixaNormal);
  border-radius: 10px;
}

.faixaMedia {
  background: var(--faixaMedia);
  border-radius: 10px;
}

.faixaAlerta {
  background: var(--faixaAlerta);
  border-radius: 10px;
}

.tableCabecalho {
  text-align: center;
  font-weight: bold;
  color: var(--primary-color-darker);
}

.tableIMCLinhaLegendas {
  text-align: left;
  font-weight: bold;
  color: rgb(0, 126, 199);
}

.tableIMCLinhaInfos {
  font-size: 15px;
}
